@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
}
/* ------------ Navbar Start--------------  */
.nav-item{
    margin: 0 10px;
}
.nav-link{
    color: #707070;
}

/* ------------ Navbar End--------------  */
/* ------------ Slider Start--------------  */
.bg-slider{
    background-color: #FEEAE9;
}
.banner-info h2{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner-info p{
    color: #4E4E4E;
}
.banner-info h5{
    font-size: 38px;
    font-weight: 500;
    color: #FF136F;
    margin-bottom: 20px;
}
.btn-slider{
    background: linear-gradient(to bottom, #f81d71, #e70a5f);
    color: #fff !important;
    border: 0 !important;
}

/* ------------ Slider End--------------  */
/* ------------ Categories Start--------------  */
.shoes{
    margin-top: 50px;
    padding: 70px 0;
    background-color: #F4F4F4;
}
.backpack{
    margin-top: 0;
}






/* ------------ Categories End--------------  */
.subscribe{
    margin-top: 50px;
    padding: 80px 0;
}