@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/* ------------ Navbar Start--------------  */
.nav-item{
    margin: 0 10px;
}
.nav-link{
    color: #707070;
}

/* ------------ Navbar End--------------  */